*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: black;
  overflow: hidden;
  color: white;
}
body{
  display: grid;
  place-content: center;
  height: 100vh;
}
button{
  position: fixed;
  width: 200px;
  height: 100px;
  top: calc(50% - 50px);
  left: calc(50% - 100px);
  cursor: pointer;
}
canvas{
  display: none;
  border: 1px solid white;
}